.intro{
margin: 2%;
font-family: Boska;
text-align: justify;
justify-content: space-evenly;
align-items: center;
line-height: 100%;
display: flex;
font-size: 36px;
bottom: 0;
}

.intro-logo{
    margin: auto;
    width: 500px;
    text-align: center;
}

.midbutton{
    text-align: center;
}

.intromenubtn{
    text-align: center !important; 
    padding: 5px;
    width: 60%;
    font-family: Brush;
    font-size: 24px;
    border-radius: 25px 0px 25px 0px;
    border: solid #EF4805 2px;
    background: linear-gradient(to left, rgba(250, 128, 114, 0) 50%, #F9AA05 50%) right;
    background-size: 200%;
    color: white;
    transition: ease-in-out 0.375s;
}

.intromenubtn:hover{
    background-position: left;
    cursor: pointer;
    text-shadow: black 1px 1px 2px;
}

.intromap{
    margin-bottom: auto;
    width: 500px;
    text-align: center;
}

.intromapmobile{
    display: none;
}

.secondintro{
    margin-bottom: 30px;
}

@media (max-width: 800px){

    .intro{
        flex-direction: column;
        text-align: justify;
        font-size: 24px;
    }

    .intro-logo{
        margin: auto;
        width: 250px;
        text-align: center;
    }

    .intromenubtn{
        width: 75%;
    }

    .intromapmobile{
        margin: auto;
        display: block;
        width: 250px;
    }

    .intromap{
        display: none;
    }
}